.highlight {
    color: yellow;
}

a.lightlink {
    color: white;
}

div.side-by-side {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

ul.remove-bullets {
    list-style: none;
}

.right-side {
    flex-grow: 12;
    margin: auto;
}

.left-side {
    flex-shrink: 0;
    margin: auto;
}

.fa-tint {
    opacity: 0.3;
}

.fa-tint+span {
    opacity: 0.3;
}

.fa.selected {
    opacity: 1.0;
    color: #009fe1;
}

.fa-tint.selected+span {
    opacity: 1.0;
}

.container {
    display: flex;
    align-items: center;
    align-content: center;
}