.highlight {
    color:yellow;
}

a.lightlink {
    color: white;
}

div.side-by-side{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

ul.remove-bullets {
    list-style: none;
}

.right-side {

}

.left-side {

}

.fa-tint {
    opacity: 0.3;
}

.fa-tint + span { 
    opacity: 0.3;
}

.fa-tint.selected {
    opacity: 1.0;
    color: #009fe1;
}

.fa-tint.selected + span {
    opacity: 1.0;
}