.highlight {
    color:yellow;
}

a.lightlink {
    color: white;
}

div.side-by-side{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

ul.remove-bullets {
    list-style: none;
}

.right-side {
    flex-grow:12;
}